name: PR Check

on:
  pull_request:
    branches:
      - main

jobs:
  pr-check:
    if: "!startsWith(github.head_ref, 'renovate/')"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: corretto
          java-version: '17'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Lint and unit tests
        run: ./gradlew check

      - name: Compile debug
        run: ./gradlew assembleDebug

      - name: Upload test reports
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: test-reports
          path: |
            **/build/reports/tests/**
            